/* ***------------------------------- Fonts ------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ***-------------------- Universal Styles --------------------- */
* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    color: #131313;
}

p {
    color: #727272;
}

/* ***------------------------------- Header Part ----------------------------------- */
#header {
    background-color: #fff4e7;
    padding: 50px 228px;
}

#header nav {
    display: flex;
    justify-content: space-between;
}

#header nav h1 {
    font-weight: 700;
}

#header nav ul {
    display: flex;
    justify-content: space-between;
}

#header nav ul li {
    list-style: none;
    padding: 0 40px;
    color: #424242;
}

#header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-section div {
    text-align: center;
}

#header-section div h1,
.features-h1 {
    margin-top: 102px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}

#header-section div p {
    color: #727272;
}

#header-section button,
.explore-btn {
    margin-top: 33px;
    margin-bottom: 33px;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #ff900c;
    color: white;
    font-size: 20px;
}

#header-section button a,
.explore-btn-a {
    text-decoration: none;
    color: white;
}

#header-section img {
    width: 100%;
    border-radius: 8px;
}

/* ***------------------------------------ Main, Features Part ---------------------------------------- */
main {
    padding: 50px 228px;
}

#features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 73px;
}

#features-h1 {
    text-align: left;
}

.item-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.item-1 img {
    width: 100%;
}

.item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-2 h1 {
    font-size: 45px;
    line-height: 53px;
}

.item-2 p {
    color: #727272;
}

#features-2 {
    margin-top: 130px;
    position: relative;
}

.features-2-item-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-2-subitem-1 h1 {
    border-left: 5px solid orange;
    padding-left: 5px;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.features-2-subitem-1 p {
    margin-bottom: 30px;
}

.box {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.11);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.features-2-subitem-2 {
    display: flex;
    align-items: center;
}

.features-2-subitem-2 img {
    width: 100%;
    height: fit-content;
}

.features-2-item-2 {
    display: flex;
    justify-content: center;
}

.features-2-item-2-container {
    position: absolute;
    bottom: 0px;
    left: 47%;
    display: inline-block;
    background-color: #ff900c;
    padding: 15px 30px;
    border-radius: 8px;
}

.features-2-item-2-container h1,
.features-2-item-2-container p {
    color: white;
    text-align: center;
}

.features-2-item-2-container h1 {
    font-weight: 700;
    font-size: 65px;
}

.features-2-item-2-container p {
    font-weight: 500;
    font-size: 25px;
}

/* ***-------------------------------- Responsive Part - Mobile -------------------------------------- */
@media only screen and (max-width: 576px) {
    #header {
        padding: 05px 05px;
    }

    #header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header nav ul {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    #header nav ul li {
        padding: 10px 0px;
    }

    #header-section div h1 {
        margin-top: 20px;
    }

    #header-section button {
        transform: scale(0.8);
    }

    /* ***---------------- Main, Features Part Responsive ------------------ */
    main {
        padding: 05px 05px;
    }

    #features {
        grid-template-columns: 1fr;
    }

    .item-1 {
        grid-template-columns: 1fr;
    }

    .features-h1 {
        margin-top: 2px;
    }

    .explore-btn-container {
        display: flex;
        justify-content: center;
    }

    #features-h1 {
        text-align: center;
    }
}

/* ***--------------------------- Responsive Part - Tablet -------------------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    #header {
        padding: 05px 10px;
    }

    #header nav ul li {
        padding: 10px 20px;
    }

    #header-section div h1 {
        margin-top: 50px;
    }

    #header-section button {
        transform: scale(0.8);
    }

    /* ***---------------- Main, Features Part Responsive ------------------ */
    main {
        padding: 05px 05px;
    }

    #features {
        grid-template-columns: 1fr;
    }

    .features-h1 {
        margin-top: 2px;
    }

    .explore-btn-container {
        display: flex;
        justify-content: center;
    }

    #features-h1 {
        text-align: center;
    }
}
