/* For Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    color: #131313;
}

#header {
    background-color: #fff4e7;
    padding: 50px 228px;
}

#header nav {
    display: flex;
    justify-content: space-between;
}

#header nav h1 {
    font-weight: 700;
}

#header nav ul {
    display: flex;
    justify-content: space-between;
}

#header nav ul li {
    list-style: none;
    padding: 0 40px;
    color: #424242;
}

#header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-section div {
    text-align: center;
}

#header-section div h1 {
    margin-top: 102px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}

#header-section div p {
    color: #727272;
    margin-bottom: 33px;
}

#header-section button {
    margin-bottom: 33px;
    padding: 21px 25px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #ff900c;
    color: white;
    font-size: 20px;
}

#header-section button a {
    text-decoration: none;
    color: white;
}

#header-section img {
    width: 100%;
    border-radius: 8px;
}

/* ***-------------------------------- Responsive Part - Mobile -------------------------------------- */
@media only screen and (max-width: 576px) {
    #header {
        padding: 05px 05px;
    }

    #header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #header nav ul {
        margin-top: 10px;
        flex-direction: column;
        text-align: center;
    }

    #header nav ul li {
        padding: 10px 0px;
    }

    #header-section div h1 {
        margin-top: 20px;
    }

    #header-section button {
        transform: scale(0.8);
    }
}

/* ***--------------------------- Responsive Part - Tablet -------------------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    #header {
        padding: 05px 10px;
    }

    #header nav ul li {
        padding: 10px 20px;
    }

    #header-section div h1 {
        margin-top: 50px;
    }

    #header-section button {
        transform: scale(0.8);
    }
}
